
{% load static %}

<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
  <title>Page Not Found | Tracker</title>
  <link rel="shortcut icon" type="image/png" href="" > 
<style>
.not_found_wrapper{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.not_found_header{
  height: 10%;
}
.header_logo{
  width: 150px;
  height: 52px;
}
.not_found_body{
  text-align: center;
  height: 90%;
}
.not_found_body h3{
  font-size: 40px;
  color: #54536c;
}
.missing_head{
  font-family: 'PT Sans';
}
.image_404{
  width: 450px;
  height: 450px;
}
.back_button{
  color:#E7924E;
  font-family: 'PT Sans';
  font-weight:bold;
  font-size:19px;

}
.no_content{
  font-family: 'PT Sans';
  font-size:20px;
  color: #54536c;
}
a{
  color:inherit;
  text-decoration: none;
}
@media screen and (max-height:800px){
  .image_404{
    width: 400px;
    height: 400px;
  }
  .not_found_body h3{
    margin:10px 0;
  }
}
</style>
</head>
<body>
<div class="not_found_wrapper">
  <div class="not_found_header">
    
  </div>
  <div class="not_found_body">
    <h3 class="missing_head">Whoops!</h3>
    <img src="{% static 'image/404_blue.svg' %}" alt="404" class="image_404">
    <p class="no_content">There's nothing here at platform</p>
    <p class="back_button"> <a href="/"> Back to Tracker </a> <span>&#10230;</span></p>
  </div>
</div>
</body>
</html>