{% extends 'base.html' %}

{% load static %}


{% block content %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap" rel="stylesheet">
<style>
    body {
        /* font-family: Arial; */
        /* color: white; */
    }

    .split1 {
        height: 100%;
        width: 70%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .split2 {
        height: 100%;
        width: 30%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-top: 20px;
    }


    .left {
        left: 0;
        background-color: rgb(243, 208, 131);
    }

    .right {
        right: 0;
        background-color: white;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        /* text-align: center; */
    }

    .split1 .block1 .text{
        text-align: center;
    }

    #trackingno_submit{
        background-image: linear-gradient(to right, #503df9, #9e52f7);
        border: none;
    }

    .split1 .block1 .text .max{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
    }

    .split1 .block1 .text .courier_name{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 45px;
        /* text-shadow: 2px 1px 4px grey; */
        color: white;

        background-image: linear-gradient(45deg, #f3ec78, #af4261);
    }

    .split1 .block1 .text .para1{
        font-family: 'Poppins', sans-serif;
        /* font-weight: 500; */
    }
    .first_block{
        margin: 0 auto;
        width: 60%;
        /* box-shadow: 0px 3px 8px 2px; */
        border-radius: 10px;
        background-color: white;
        padding: 20px;
        /* box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                    0 12.5px 10px rgba(0, 0, 0, 0.06),
                    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                    0 100px 80px rgba(0, 0, 0, 0.12); */
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                    0 6.7px 5.3px rgba(0, 0, 0, 0.048);

        
    }
    .first_block .trackingno{
        font-family: Poppins,'Source Sans Pro', sans-serif !important;
        font-weight: bold;
        font-size: 30px;
    }
    .first_block .trackingno .status{
        color: #ffe200;
    }
    .first_block .detailed_status{
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        color: #54536C;
    }
    .first_block .location{
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-weight: bold;
    }
    .first_block .location_name{
        color: #ffe200;
    }
   
    .table_block{
        margin-top: 53px;
        overflow: hidden;
        /* background-color: white; */
        border-radius: 10px;
        border: none !important;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                    0 12.5px 10px rgba(0, 0, 0, 0.06),
                    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                    0 100px 80px rgba(0, 0, 0, 0.12);
    }
    .table_block tr th{
        /* font-family: Lato-Bold; */
        font-size: 18px;
        color: #fff;
        line-height: 1.4;
        background-color: #6c7ae0;
        border: none !important;
    }
    .table_block .column1{
        padding-left: 40px;
    }
    .table_block tbody tr:nth-child(odd) {
        background-color: #f8f6ff;
    }
</style>

<div>
    <div class="split1 left" style="background: #EEF2F7;">
        <div class="container block1">
            <div class="text">
                <p class="courier_name">{{ courier }}</p>
                <h2 class="max">Max works realy hard for you to get the data</h2>
                <p class="para1">Feel free to use our system to track the shipments, Max is always here for you.</p>
            </div>

            <div class="first_block">
                <p class="trackingno">{{ trackingno }} <span class="status">{{ status }}</span></p>
                <p class="detailed_status">{{ detailed_status }}</p>
                <p class="location">Origin Location <span class="location_name">{{ origin }}</span></p>
                <p class="location">Destination Location <span class="location_name">{{ destination }}</span></p>
            </div>

            <table class="table table_block">
                <thead>
                  <tr>
                    <th scope="col" class="column1">Status</th>
                    <th scope="col" class="column2">Location</th>
                    <th scope="col" class="column3">Date</th>
                    <th scope="col" class="column4">Deatil</th>
                  </tr>
                </thead>
                <tbody>
                    {%for element in checkpoints%}
                        <tr>
                            <td class="column1">{{ element.status }}</td>
                            <td class="column2">{{ element.location }}</td>
                            <td class="column3">{{ element.date }} {{ element.time }}</td>
                            <td class="column4">{{ element.deatils }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    <div class="split2 right">
        <div class="centered">
            {% include "trackerform.html" %} 
        </div>
    </div>
</div>

{% endblock %}