<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="courierselect">Select Courier</label>
        <select class="form-control" id="courierselect" name="courier" required>
            <option></option>
            <option value="Delhivery">Delhivery</option>
            <option value="FedEx">FedEx</option>
            <option value="Spoton">Spoton</option>
            <option value="XpressBees">XpressBees</option>
        </select>
    </div>

    <div class="form-group">
        <label for="trackingnumber" class="form-label">Tracking Number</label>
        <input type="text" class="form-control" id="trackingnumber" name="trackingno" required>
    </div>

    <button type="submit" class="btn btn-primary btn-block" id="trackingno_submit">Submit</button>
</form>
