{% extends 'base.html' %}



{% block content %}

{% load static %}

<style>
    body {
        /* font-family: Arial; */
        /* color: white; */
    }

    .split1 {
        height: 100%;
        width: 60%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .split2 {
        height: 100%;
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-top: 20px;
    }


    .left {
        left: 0;
        background-color: rgb(243, 208, 131);
    }

    .right {
        right: 0;
        background-color: white;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        /* text-align: center; */
    }

    .centered img {
        width: 90%;
        /* border-radius: 50%; */
    }

    .split1 .centered div{
        text-align: center;
    }

    #trackingno_submit{
        background-image: linear-gradient(to right, #503df9, #9e52f7);
        border: none;
    }

    .split1 .centered .text .max{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
    }

    .split1 .centered .text .para1{
        font-family: 'Poppins', sans-serif;
        /* font-weight: 500; */
    }
</style>

<div>
    <div class="split1 left">
        <div class="centered">
            <img src="{% static 'image/max_blue_cycle.svg' %}" alt="Avatar woman">
            <div class="text">
                <h2 class="max">Max is here for you!</h2>
                <p class="para1">He will find the shipments for you, <br>just enter the tracking.</p>
            </div>
        </div>
    </div>
    <div class="split2 right">
        <div class="centered">
            {% include "trackerform.html" %} 
        </div>
    </div>
</div>

{% endblock %}